body
{
    margin:0px;
    background-image:url("../images/Travel.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    font-family: 'Lato', sans-serif;
    font-weight:bold;
}

.navigation
{
    display:flex;
    justify-content:space-between;
    padding:30px;
 
}

/* Right Navigation */
.nav-right
{
    display:flex;
}

.navigation > .nav-right > div
{
    margin-left:20px;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.random
{
    border-bottom:1px solid transparent;
    height:22px;
    transition: border bottom 0.5s;
}

.random a
{
    color:#8a8a8a;
    text-decoration:none;
    transition: color 0.5s;
}

.random:hover
{
    border-bottom:1px solid #000;
}

.random a:hover
{
    color:#000;
}

/* Left Navigation */
.nav-left
{
    display:flex;
}

.navigation > .nav-left > div
{
    margin-right:20px;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.nav-link-wrap
{
    border-bottom:1px solid transparent;
    height:22px;
    transition: border bottom 0.5s;
}

.nav-link-wrap a
{
    color:#8a8a8a;
    text-decoration:none;
    transition: color 0.5s;
}

.nav-link-wrap:hover
{
    border-bottom:1px solid #000;
}

.nav-link-wrap a:hover
{
    color:#000;
}

.active-nav-link
{
    border-bottom:1px solid #000;
}

.active-nav-link a
{
    color:#000;
}

/* Content */

.excitingdeals
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.excitingdeal
{
    position:relative;
    margin:15px;
}

.dealbackground
{
    height:300px;
    width:100%;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    border-radius:10px;
}

.dealbackgroundhover
{
    height:300px;
    width:100%;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    border-radius:10px;
}

.text-wrap
{
    position:absolute;
    top:25%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100%;
    text-align:center;
    padding-right:100px;
    padding-left:100px;
}

.text-wrap .subtext
{
    font-weight:600;
    transition:1s;
    color:transparent;
}

.text-wrap:hover .subtext
{
    font-weight:800;
    color:#ffffff;
}

.img-blur
{
    transition:1s;
    filter:brightness(20%);
}